.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.empty_text {
  margin: 1rem auto;
  font-size: 1.7rem;
}
.scroll {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-track {
  background: transparent;
}
input[type="checkbox"] {
  accent-color: rgb(255, 87, 3);
  width: 20px;
  height: 20px;
}
