.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  text-align: left;
  border-bottom: 1px solid rgb(214, 214, 214);
  background-color: whitesmoke;
  color: rgb(75, 75, 75);
}

.name {
  width: 25%;
}
.contact {
  width: 35%;
}
.job {
  width: 10%;
}
.controls {
  width: 20%;
}
