.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  text-align: left;
  gap: 1rem;
}
.input {
  background-color: transparent;
  border: red;
  outline: red;
  width: 17px !important;
  height: 17px !important;
}
.name {
  width: 25%;
  font-size: 20px;
}
.contact {
  width: 35%;
}
.job {
  width: 10%;
}
.controls {
  width: 20%;
}
.delete_btn {
  padding: 0.8rem;
  background-color: rgb(255, 87, 3);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 150ms;
  cursor: pointer;
}
.delete_btn:hover {
  background-color: rgb(255, 166, 0);
}
.create_btn {
  font-size: 14px;
  padding: 0.8rem;
  margin-right: 2rem;
  background-color: rgb(12, 183, 3);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 150ms;

  text-decoration: none;
}
.create_btn:hover {
  background-color: rgb(14, 124, 8);
}
